<nav class="grid grid-cols-3 items-center gap-2 px-6 py-4">
  <div class="flex items-center justify-start gap-6">
    <%= navigation_link_to "Owners", owners_path %>
    <%= navigation_link_to "Computers", computers_path %>
    <%= navigation_link_to "Components", components_path %>
  </div>

  <div class="flex-1 flex justify-center">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "h-8"%>
    <% end %>
  </div>

  <div class="flex items-center justify-end gap-6">
    <% if logged_in? %>
      <%= navigation_link_to "Admin", admin_owners_path %>
      <%= navigation_link_to Current.owner.user_name, owner_path(Current.owner), active: false %>
    <% else %>
      <%= navigation_link_to "Log In", new_session_path %>
    <% end %>
  </div>
</nav>